name: Generate pacman animation

on:
  schedule: # execute every 12 hours
    - cron: "* */12 * * *"

  workflow_dispatch:

  push:
    branches:
      - main
      
jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4 # Membutuhkan permissions: contents: write di atas

      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Commit and Push Pac-Man to output branch # GANTI NAMA LANGKAH
        uses: stefanzweifel/git-auto-commit-action@v5 # MENGGANTIKAN crazy-max
        with:
          branch: output # Target branch Anda
          commit_message: "Update Pac-Man contribution graph"
          file_pattern: 'pacman-contribution-graph*.svg' # Pola file yang akan di-commit
